.checkout-nav-list {
    margin-top: -15px;
    margin-bottom: -15px;
}

.checkout-nav-link {
    cursor: pointer;
    margin: 15px 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background: none;
    color: $c-default;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    @include media-breakpoint-up(xxl) {
        font-size: 24px;
    }

    .checkout-nav-count {
        position: relative;
        flex: 0 0 40px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
        background-color: $c-default;
        color: $c-white;
        text-align: center;
        @include media-breakpoint-up(xxl) {
            font-size: 20px;
        }
    }

    &:not(:first-child) {
        .checkout-nav-count {
            &::before {
                position: absolute;
                top: 0;
                left: 50%;
                width: 1px;
                height: 17px;
                transform: translate(-50%, -150%);
                background-color: #c5c5c5;
                content: '';
            }
        }
    }

    &.valid {
        text-decoration: line-through;
    }

    &.invalid {
        color: #dc3545 !important;

        .checkout-nav-count {
            background: #dc3545 !important;
        }
    }

    &.collapsed {
        color: #c5c5c5;

        .checkout-nav-count {
            background-color: #c5c5c5;
        }


        &.invalid {
            opacity: 0.6;
        }
    }
}
