/node_modules
/public/hot
/public/uploads/services
/public/storage
storage
/vendor
/bootstrap/cache/
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.phpstorm.meta.php
_ide_helper.php
.env.testing
public/(css|js)/compiled/
.DS_Store

.docker
docker-compose.yaml
dump.sql
