.section-content {
    margin-top: 30px;
    margin-bottom: 40px;

    @include media-breakpoint-up(lg) {
        margin-top: 50px;
        margin-bottom: 60px;
    }
    @include media-breakpoint-up(xxl) {
        margin-top: 90px;
        margin-bottom: 90px;
    }

    .container {
        max-width: 1428px;

        .offset {
            margin-bottom: 34px;

            @include media-breakpoint-up(lg) {
                margin-bottom: 84px;
            }
        }
    }

    h2, h3, h4, h5, h6{
        margin-bottom: 20px;
        color: #090909;
        font-family: "Conthrax", sans-serif;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 17.07px;
        text-align: left;
        text-transform: uppercase;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;

        @include media-breakpoint-up(lg) {
            margin-bottom: 36px;
        }
    }

    @for $i from 1 through 5 {
        $h-max-size: 40px;

        h#{$i} {
            font-size: #{$h-max-size - ($i * 5px)};

            @include media-breakpoint-up(lg) {
                font-size: #{$h-max-size - ($i * 2px)};
            }
        }
    }



    p {
        line-height: 1.4;

        @include media-breakpoint-up(lg) {
            line-height: 35px;
        }
    }

    q, quotes{
        display: flex;
        background: #c55100;
        color: #fff;
        padding: 5px 10px;
        box-sizing: border-box;
    }

    blockquote {
        padding: 16px 10px;
        background: #c55100;
        border: 10px solid #191919;
        color: #fff;
        font-size: 20px;
        line-height: 30px;

        @include media-breakpoint-up(lg) {
            padding: 56px 50px;
            font-size: 30px;
            border: 20px solid #191919;
        }
    }

    ul {
        padding: 0;

        li {
            &:before{
                margin-right: 26px;
                content: "";
                display: flex;
                width: 22px;
                height: 6px;
                background: #c55100;
            }

            margin-bottom: 15px;
            display: flex;
            align-items: center;
        }
    }

    ol {
        padding-left: 14px;
        list-style: none;
        counter-reset: item;
        li {
            &:before {
                margin-right: 28px;
                display: flex;
                content: counter(item) ')';
                font-weight: bold;
                color: #c55100;
            }

            margin-bottom: 15px;
            display: flex;
            align-items: flex-start;
            counter-increment: item;
        }
    }

    table {
        border-collapse:separate;
        border-spacing: 0 10px;
        thead {
            color: #fff;
            line-height: 35px;
            background: #191919;
            font-weight: normal;
            font-size: 17px;

            th {
                padding: 11px 15px;
                border-bottom: 5px solid #c55100;

                @include media-breakpoint-up(lg) {
                    padding: 21px 35px;
                }
            }
        }

        tbody {
            tr {
                margin: 10px 0;
                padding: 28px 40px;
                background: #fff;
                color: #000;
                font-size: 17px;
                line-height: 25px;

                td {
                    padding: 15px;

                    @include media-breakpoint-up(lg) {
                        padding: 35px;
                    }
                }
            }
        }
    }
}
