.header-contact-list {
    margin-top: 0;
    margin-bottom: 0;
}

.header-contact {
    color: $c-black;
    font-size: 14px;
    font-weight: 600;

    &[href^="tel:"]  {
        color: $c-primary;
        font-size: 15px;
        font-weight: 700;
        @include media-breakpoint-up(xxl) {
            font-size: 17px;
        }
    }
}