.footer-box {
    overflow: hidden;
    padding-top: 35px;
    padding-bottom: 10px;
    border-top: 1px solid rgba($c-white, .1);
    font-size: 14px;
    @include media-breakpoint-up(lg) {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    @include media-breakpoint-up(xxl) {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    a {
        border: none;
        &:hover {
            color: $c-secondary;
        }
    }
}

.footer-logo-container {
    margin-bottom: 18px;
    @include media-breakpoint-up(md) {
        margin-bottom: 25px;
    }
    @include media-breakpoint-up(lg) {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    @include media-breakpoint-up(xxl) {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.footer-nav-container {
    margin-bottom: 20px;
}

.footer-phone-container {
    margin-bottom: 15px;
    @include media-breakpoint-up(sm) {
        margin-bottom: 20px;
    }
    @include media-breakpoint-up(md) {
        margin-bottom: 25px;
    }
    @include media-breakpoint-up(lg) {
        margin-bottom: 20px;
    }
    @include media-breakpoint-up(xxl) {
        margin-bottom: 15px;
    }
}

.footer-social-container {
    margin-bottom: 15px;
    @include media-breakpoint-up(md) {
        margin-bottom: 25px;
    }
    @include media-breakpoint-up(lg) {
        margin-bottom: 20px;
    }
}

.footer-search-container,
.footer-copyright-container {
    margin-bottom: 30px;
    @include media-breakpoint-up(sm) {
        margin-bottom: 20px;
    }
}

.footer-search-container {
    .search-input::-webkit-search-cancel-button{
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    }
}

.footer-devider {
    clear: both;
    position: relative;
    height: 2px;
    margin: 25px 0;
    background-color: currentColor;
    @include media-breakpoint-up(xxl) {
        margin-top: 35px;
        margin-bottom: 35px;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 50%;
        width: 100vw;
        transform: translate(-50%);
        height: inherit;
        background-color: inherit;
        content: '';
    }
}


@import 'footer-logo';
@import 'footer-catalog';
@import 'footer-nav';
@import 'footer-contact';
@import 'footer-social';
@import 'footer-search';
@import 'footer-copyright';
@import 'footer-develop';
