.btn {
    cursor: pointer;
    position: relative;
    min-width: 70px;
    margin: 0;
    padding: 15px;
    border: none;
    border-radius: 0;
    background: $c-secondary;
    color: $c-white;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    @include media-breakpoint-up(xxl) {
        min-width: 150px;
        padding: 15px;
        font-size: 15px;
    }

    &::after {
        position: absolute;
        top: calc(100% + 2px);
        left: 0;
        right: 0;
        height: 2px;
        background: $c-black;
        content: '';
    }

    &-media {
        margin-right: 5px;
        fill: currentColor;
    }
}