.modal-dialog {
    @include media-breakpoint-up(sm) {
        max-width: 430px;
    }
    @include media-breakpoint-up(md) {
        max-width: 500px;
    }
    @include media-breakpoint-up(xl) {
        max-width: 585px;
    }
    @include media-breakpoint-up(xxl) {
        max-width: 685px;
    }
}

.modal-content {
    padding: 20px 20px 30px;
    border: none;
    border-radius: 0;
    @include media-breakpoint-up(md) {
        padding: 30px 30px 40px;
    }
    @include media-breakpoint-up(xl) {
        padding: 40px 40px 50px;
    }
    @include media-breakpoint-up(xxl) {
        padding: 45px 50px 55px;
    }
}

.modal-header,
.modal-body,
.modal-footer {
    padding: 0;
    border: none;
}

.modal-header {
    margin-bottom: 10px;

    .close {
        opacity: 1;
        color: currentColor;

        &:hover {
            color: $c-secondary;
        }
    }
}

.modal-footer {
    display: block;

    > .row {
        @extend .row;
    }

    > .form-row {
        @extend .form-row;
    }
}

.form-modal {
    .form-group {
        + .form-group {
            @include media-breakpoint-up(xl) {
                margin-top: 20px;
            }
        }
    }

    .form-label {
        @include media-breakpoint-up(xl) {
            font-size: 15px;
        }
    }

    button[type="submit"] {
        margin-top: 10px;
        @include media-breakpoint-up(xl) {
            margin-top: 20px;
        }
    }
}


.modal-controls-group {
    margin-bottom: -15px;
    @include media-breakpoint-up(md) {
        margin-bottom: 0;
    }

    .modal-control {
        width: 100%;
        margin-bottom: 15px;

        @include media-breakpoint-up(md) {
            width: auto;
            margin-bottom: 0;
        }
    }
}

// modal location
#modalLocation {
    .modal-dialog {
        @include media-breakpoint-up(md) {
            max-width: 400px;
        }
    }

    .modal-header {
        @include media-breakpoint-up(xxl) {
            margin-bottom: 20px;
        }
    }
}

// modal add to cart
#modalAddToCardProductName {
    @include media-breakpoint-up(xxl) {
        margin: 5px 0;
        font-size: 22px;
    }
}